.modules {
  width: 100%;
  section.module {
    margin-bottom: var(--spacing-gutter);
    &--featured-cards-ui {
      .card--is-landscape {
        grid-column: span 2 / span 2;
        .card__inner {
          display: flex;
          flex-direction: row;
          gap: 0;
          .card__body {
            min-height: 100%;
            justify-content: space-between;
          }
        }
      }
    }
    &--news-card-ui {
      .module__title {
        margin-bottom: var(--spacing-gutter);
        text-align: center;
      }
    }
    &--text-ui {
      h2 {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        margin-bottom: var(--spacing-gutter);
      }
      p {
        max-width: 41rem;
        margin: 0 auto;
      }
    }
    &--text-image-ui {
      &--reverse {
        .module__image {
          order: 2;
        }
        .module__text {
          order: 1;
        }
      }
    }
    &--text-sidebar-ui {
      .module__inner {
        border-top: var(--border);
        padding-top: var(--spacing-md);
      }
      .module__text {
      }
    }
    &--list-ui {
      margin-bottom: var(--spacing-sm);
      h3,
      .list-item {
        border-bottom: var(--border);
        padding: 0.5em 0;
      }
      h3 {
        color: var(--color-secondary);
      }
      .list-item {
        display: flex;
        justify-content: space-between;
        font-size: var(--text-md);
        line-height: var(--leading-2xl);
        font-weight: 600;
        .content {
          font-weight: 200;
          font-size: var(--text-base);
        }
      }
    }
    &--grid-card-ui {
      h2 {
        text-align: center;
        margin-bottom: var(--spacing-lg);
      }
    }
    &--slider-card-ui {
      h2 {
        text-align: center;
        margin-bottom: var(--spacing-lg);
      }
      .keen-slider {
        &__slide {
          min-width: var(--gridder-3_12);
          max-width: var(--gridder-3_12);
          .card,
          .card__inner {
            height: 100%;
          }
          &:has(.card--md) {
            min-width: var(--gridder-6_12);
            max-width: var(--gridder-6_12);
          }
        }
      }
    }
    &--video-ui {
      &:hover .logo-fhcb svg path {
        fill: var(--color-secondary);
      }
      .module__inner {
        position: relative;
      }
      .logo-fhcb {
        position: absolute;
        left: var(--spacing-lg);
        top: var(--spacing-lg);
        max-width: calc(var(--spacing-lg) * 2);
        svg {
          width: 100%;
          height: 100%;
          aspect-ratio: 321 / 154;
          path {
            fill: white;
          }
        }
      }
      .react-player__shadow {
        background-color: var(--color-secondary);
      }
    }
    &--list-exhibitions-past-ui {
    }
    &--support-ui {
      background-color: var(--color-rose-50);
      margin: 0;
      padding: var(--spacing-md) 0;
      .module__inner {
        display: flex;
        justify-content: space-between;
        gap: var(--spacing-xs);
      }
      .module__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .btn {
          display: inline-block;
          width: auto;
        }
      }
      img {
        max-height: 32.5rem;
      }
    }
    &--newsletter-ui {
      background-color: var(--color-jaune);
      margin: 0;
      padding: var(--spacing-md) 0;

      .module__inner {
        display: flex;
        justify-content: space-between;
        gap: var(--spacing-xs);
      }
      .module__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .btn {
          display: inline-block;
          width: auto;
        }
      }
      img {
        max-height: 32.5rem;
      }
    }
    &--ressources-ui {
      padding: var(--spacing-lg) 0;
      background-color: var(--color-coquille);
      h2 {
        text-align: center;
        margin-bottom: var(--spacing-lg);
      }
    }
    &--form-ui {
      form {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: var(--spacing-gutter);
        row-gap: var(--spacing-sm);
        .form-row {
          grid-column: span 2 / span 2;
          &--half {
            grid-column: span 1 / span 1;
          }
        }
      }
    }
  }
}

.module {
  width: 100%;
}
