.modules {
  width: 100%;
  section.module {
    margin-bottom: var(--spacing-gutter);
    &--text-ui {
      h2 {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        margin-bottom: var(--spacing-gutter);
      }
    }
    &--text-image-ui {
      &--reverse {
        .module__image {
          order: 2;
        }
        .module__text {
          order: 1;
        }
      }
    }
    &--text-sidebar-ui {
      .module__inner {
        border-top: var(--border);
        padding-top: var(--spacing-md);
      }
      .module__text {
      }
    }
    &--list-ui {
      margin-bottom: var(--spacing-sm);
      h3,
      .list-item {
        border-bottom: var(--border);
        padding: 0.5em 0;
      }
      h3 {
        color: var(--color-secondary);
      }
      .list-item {
        display: flex;
        justify-content: space-between;
        font-size: var(--text-md);
        line-height: var(--leading-2xl);
        font-weight: 600;
        .content {
          font-weight: 200;
          font-size: var(--text-base);
        }
      }
    }
    &--slider-card-ui {
      .keen-slider {
        &__slide {
          min-width: var(--gridder-1);
          max-width: var(--gridder-1);
          &:has(.card--md) {
            min-width: var(--gridder-2);
            max-width: var(--gridder-2);
          }
        }
      }
    }
    &--video-ui {
      &:hover .logo-fhcb svg path {
        fill: var(--color-secondary);
      }
      .module__inner {
        position: relative;
      }
      .logo-fhcb {
        position: absolute;
        left: var(--spacing-lg);
        top: var(--spacing-lg);
        max-width: calc(var(--spacing-lg) * 2);
        svg {
          width: 100%;
          height: 100%;
          aspect-ratio: 321 / 154;
          path {
            fill: white;
          }
        }
      }
      .react-player__shadow {
        background-color: var(--color-secondary);
      }
    }
  }
}

.module {
  width: 100%;
}
