@use "../variables";

footer {
  // padding: var(--spacing-sm) var(--spacing-lg);
  padding: var(--spacing-lg) 0;
  &,
  a {
    color: var(--color-secondary);
  }
  .footer__logo {
    margin-bottom: var(--spacing-md);
    svg {
      width: 100%;
      height: 100%;
      aspect-ratio: 1212 / 92;
    }
  }
  address {
    padding-top: calc(var(--spacing-sm) + var(--text-5xl) - 0.1rem);
    //convert 178.017 to rem
    width: 11.126rem;
    &,
    p {
      font-size: var(--text-base);
      font-style: unset;
    }
  }
  nav {
    padding: 0;
    margin-bottom: var(--spacing-md);
    h4 {
      line-height: 1;
      margin-bottom: var(--spacing-sm);
    }
    li ul {
      font-weight: 450;
      li {
        a {
          line-height: 1.2;
        }
      }
    }
  }
  .credits-n-legals {
    font-size: var(--text-2xs);
    a,
    button {
      margin-left: 0.1em;
    }
    a:not(.btn) {
      text-decoration: none;
      // text-decoration-thickness: 0.04em;
      // text-underline-offset: 0.15em;
      // background-color: red;

      background: linear-gradient(currentColor 0 0) left bottom / 100% 0.08em
        no-repeat;

      transition:
        background-size 0.25s ease,
        background-position 0s 0.25s;

      &:hover {
        background-size: 0% 0.08em;

        background-position: left bottom;
      }

      &:not(:hover) {
        background-position: right bottom;

        background-size: 100% 0.08em;
      }
    }
  }
  @media all and (max-width: variables.$md) {
    padding: var(--spacing-md) 0;
    address {
      padding: 0;
      width: auto !important;
    }
    nav {
      h4 {
        margin-bottom: calc(var(--spacing-xs) * 0.8);
      }
      a {
        font-size: var(--text-sm);
      }
      .nav-actions {
        order: 2;
        flex-wrap: wrap;
        li:nth-child(1),
        li:nth-child(2) {
          min-width: 100%;
          flex-basis: 100%;
        }
      }
      .credits-n-legals {
        order: 3;
      }
    }
  }
}
