@use "../variables";

footer {
  // padding: var(--spacing-sm) var(--spacing-lg);
  padding: var(--spacing-lg);
  &,
  a {
    color: var(--color-secondary);
  }
  .footer__logo {
    margin-bottom: var(--spacing-md);
    svg {
      width: 100%;
      height: 100%;
      aspect-ratio: 1212 / 92;
    }
  }
  address {
    padding-top: calc(var(--spacing-sm) + var(--text-5xl) - 0.1rem);
    //convert 178.017 to rem
    width: 11.126rem;
    &,
    p {
      font-size: var(--text-lg);
      font-style: unset;
    }
    p {
    }
  }
  nav {
    padding: 0;
    margin-bottom: var(--spacing-md);
    h5 {
      line-height: 1;
      margin-bottom: var(--spacing-sm);
    }
    li ul {
      font-weight: 450;
    }
  }
  .credits-n-legals {
    font-size: var(--text-2xs);
    a {
      text-decoration: underline;
      margin-left: 0.5em;
    }
  }
  @media all and (max-width: variables.$md) {
  }
}
