@use "../variables";

header.header {
  position: fixed;
  width: 100dvw;
  width: 100%;
  top: 0;
  left: 0;
  padding: var(--spacing-sm) var(--spacing-lg);
  padding: var(--spacing-sm) 0;
  z-index: 50;
  transition:
    background-color 0.2s var(--cubic),
    transform 0.2s var(--cubic),
    opacity 0.2s var(--cubic);
  color: var(--color-secondary);
  font-weight: 450;
  &.is-up {
    transform: translateY(-100%);
    opacity: 0;
  }
  &.is-down {
    background-color: var(--color-bg);
  }
  a,
  button,
  .menu-label {
    color: var(--color-secondary);
  }
  svg path {
    // fill: var(--color-secondary);
  }

  .header__logo,
  .header__meta-nav {
    // width: 17.75rem;
  }

  .header--mobile {
    display: block;
  }
  .header--desktop {
    display: none;
  }
  @media all and (min-width: (variables.$md + 1px)) {
    .header--mobile {
      display: none;
    }
    .header--desktop {
      display: block;
    }
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: var(--spacing-lg);
    z-index: 1;
    .header__meta-nav {
      display: flex;
      align-items: center;
      gap: var(--spacing-sm);

      .meta-nav {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
      }
    }
  }
  .header__logo {
    svg {
      width: 123px;
    }
  }
  &.is-up {
    transform: translateY(-100%);
    opacity: 0;
  }
  &.is-bottom {
    transform: translateY(0%);
    opacity: 1;
  }

  @media all and (min-width: variables.$md) {
  }

  @media all and (max-width: variables.$md) {
    &.is-modal-open {
      .header__modal {
        display: none;
      }
    }
    .header__inner {
      display: flex;
      justify-content: space-between;
    }
    .header__modal {
      display: none;
      position: fixed;
      inset: 0;
      background-color: var(--color-accent);

      .menu .menu-label,
      .menu a,
      & {
        color: white;
      }
      &--open {
        display: block;
      }
      .scroll-y {
        overflow-y: auto;
        height: 100dvh;
      }
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--spacing-sm);
        height: 100%;
        padding: var(--spacing-sm);
        padding-top: var(--header-h);
        .header__group:nth-child(1) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

body.nav-open {
  // overflow: hidden;
  header {
    background-color: var(--color-secondary);
    nav a,
    nav .menu-label,
    .locale-switcher button,
    .nav-modal a {
      color: white;
    }
    .header__logo svg path {
      fill: white;
    }
    .search-toggle button svg path {
      stroke: white;
    }
    .header__inner > * {
      z-index: 1;
      position: relative;
    }
    .search {
      z-index: 0;
    }
    .cart-toggle {
      svg {
        path.fill--accent {
          fill: white;
        }
        path.fill--white {
          fill: var(--color-secondary);
        }
      }
      span {
        color: var(--color-secondary);
      }
    }
  }
}

body:has(.template--exhibition) header.is-down {
  background-color: var(--color-mauve);
}

body.has-bandeau header {
  background-color: transparent;
}

// body:has(.template--library) header.is-down {
//   background-color: var(--color-bg);
// }
