@use "../variables";

header.is-modal-open {
  .nav-modal {
    display: block;
  }
}
.nav-modal {
  position: fixed;
  inset: 0;
  padding: var(--spacing-lg) 0;
  padding-top: calc(var(--header-h) + var(--spacing-sm));
  background-color: var(--color-secondary);
  color: var(--color-white);
  z-index: 0;
  height: 100dvh;
  overflow-y: auto;
  display: none;
  &--search {
    aside,
    .nav-media {
      display: none;
    }
  }
  .inner {
    height: 100%;
    position: relative;
  }
  .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-120%);
    svg line {
      fill: white;
    }
  }
  .nav-media {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: calc(100% - 11.188rem);

    // overflow-x: auto;
    // overflow: clip;
    // padding-bottom: 3em;
    figure.figure {
      position: relative;
      img {
        height: 40vh !important;
        width: auto !important;
      }
      // &--is-landscape {
      //   width: 40vw;
      // }
      // &--is-portrait {
      //   width: 25vw;
      // }
    }
    figcaption {
      position: absolute;
    }
    img {
    }
  }
  aside {
    position: absolute;
    left: 0;
    bottom: 0;
    // max-width: 11.188rem;
    // max-width: 15.188rem;
    maw-width: 25.188rem;
    .text {
      font-size: var(--text-md);
      line-height: var(--leading-2xl);
    }
  }
}
nav {
  flex: 2;
  // padding: 0 var(--spacing-lg);
  // padding: 0;

  &.is-open {
    li.has-submenu:hover .sub-menu {
      display: block;
    }
  }
  a:not(.btn) {
    white-space: nowrap;
    line-height: 1.8;
    width: 100%;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.04em;
      text-underline-offset: 0.15em;
    }
  }

  // .menu-label {
  //   font-size: 16px !important;
  //   color: blue !important;
  // }
  ul.menu > li > .menu-label,
  .locale-switcher button {
    font-size: 1rem !important;
  }
  ul.menu {
    display: flex;
    justify-content: space-around;

    // display: grid;
    // grid-template-columns: repeat(var(--nav-len), minmax(0, 1fr));
    // gap: var(--spacing-md);

    .menu-label {
      cursor: pointer;
      // padding-left: 2em;
      &.is-active + .sub-menu {
        display: block;
      }
    }
    & > li {
      // flex: 1;
      position: relative;
      & > .menu-label {
      }
      & > .menu-label,
      & > a > .menu-label {
        padding: 0em 2em 0;
        display: inline-block;
        font-weight: 450;
      }
    }

    .sub-menu {
      position: absolute;
      left: 2em;
      left: 0;
      // padding: 1.5rem 2rem var(--spacing-lg);
      padding-top: 1.5rem;
      padding-bottom: var(--spacing-lg);
      display: none;
      // padding-top: 1.5rem;
      // padding-bottom: var(--spacing-lg);
      font-weight: 200;
      a {
        padding: 0em 2em 0.5em;
        line-height: 1;
        display: inline-block;
      }
    }
  }
}

@media all and (max-width: variables.$md) {
  nav {
    // &.is-open
    ul.menu {
      display: flex;
      flex-direction: column;

      & > li .menu-label,
      & > li > a .menu-label {
        font-weight: 600;
        font-size: calc(var(--text-sm-6xl) * 0.8);
        padding: 0;
        line-height: 1;
      }

      .sub-menu {
        position: initial;
        padding: calc(var(--spacing-sm) * 0.9) 0;
        a {
          padding: 0;

          .menu-label {
            font-size: var(--text-sm-md);
            font-weight: 200;
            line-height: 1.8;
            line-height: 1.3;
          }
        }
      }
    }
  }
}
