header.is-modal-open {
  .nav-modal {
    display: block;
  }
}
.nav-modal {
  position: fixed;
  inset: 0;
  padding: var(--spacing-lg);
  padding-top: calc(var(--header-h) + var(--spacing-sm));
  background-color: var(--color-secondary);
  color: var(--color-white);
  z-index: 0;
  height: 100dvh;
  overflow-y: auto;
  display: none;
  .inner {
    height: 100%;
    position: relative;
  }
  .imageCover {
    position: absolute;
    right: 0;
    bottom: 0;
    figure.figure {
      &--is-landscape {
        width: 40vw;
      }
      &--is-portrait {
        width: 25vw;
      }
    }
    img {
    }
  }
  aside {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
nav {
  flex: 2;
  padding: 0 var(--spacing-lg);
  // padding: 0;
  &.is-open {
    li.has-submenu:hover .sub-menu {
      display: block;
    }
  }
  a {
    white-space: nowrap;
    line-height: 1.8;
    width: 100%;
    &:hover {
      text-decoration: underline;
    }
  }

  ul.menu {
    // display: flex;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));

    & > li {
      // flex: 1;
      position: relative;
      & > a {
        padding: 0em 2em 0;
        display: inline-block;
        font-weight: 450;
        // background-color: red;
        // text-align: center;
      }
      &.has-submenu {
        & > a {
          // pointer-events: none;
        }
      }
    }

    .sub-menu {
      position: absolute;
      left: 2em;
      display: none;
      padding-top: 1.5rem;
      padding-bottom: var(--spacing-lg);
    }
  }
}
