@use "../variables";

.page-header {
  text-align: center;
  padding: var(--spacing-md) 0 var(--spacing-lg);
  .flex.flex-col {
    gap: 0.5rem;
  }
}

.grid--centered {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: var(--spacing-gutter);
  flex-wrap: wrap;
  .card {
    flex-basis: var(--gridder-3_12);
    width: var(--gridder-3_12);
    flex-shrink: 0;
    /*
    This next line makes card same height
    */
    height: auto;
    &--md {
      flex-basis: var(--gridder-6_12);
      width: var(--gridder-6_12);
    }
    &--md-alt {
      &.card--exhibition-featured {
        flex-basis: var(--gridder-2_3);
        width: var(--gridder-2_3);
      }
    }
  }

  @media all and (max-width: variables.$md) {
    gap: var(--spacing-sm);
    .card {
      flex-basis: var(--gridder-4_4);
      width: var(--gridder-4_4);
      &--md {
        flex-basis: var(--gridder-4_4);
        width: var(--gridder-4_4);
      }
    }
  }
}

.grid-masonry-dessandro {
  margin: 0 calc(var(--spacing-gutter) / -2);
  .grid-item {
    padding: 0 calc(var(--spacing-gutter) / 2) calc(var(--spacing-gutter) / 1);
    box-sizing: border-box;
  }
  .card {
    width: var(--gridder-3_3);
    @media all and (min-width: variables.$md) {
      &--sm {
        width: var(--gridder-3_12);
      }
      &--md {
        width: var(--gridder-6_12);
      }
      &--sm-alt {
        width: var(--gridder-4_12);
      }
      &--md-alt {
        width: var(--gridder-8_12);
      }
    }
  }
  @media all and (max-width: variables.$md) {
    .grid-item {
      padding: 0 calc(var(--spacing-gutter) / 2) calc(var(--spacing-sm) / 1);
    }
  }
}

figure {
  figcaption {
    text-align: right;
    padding: 0.4em 0 0;
    line-height: 1.1;
    .caption {
      font-style: italic;
    }
    .c-credits {
      opacity: 0.5;
    }
  }
}

input,
textarea {
  border-radius: 0;
  &::placeholder {
    color: black;
  }
}

.fhcb-date {
  &:not(:last-child).has-location {
    margin-bottom: 0.5em;
  }
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.hide-sb {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et ancien Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.slider-cards {
  .slick-slide {
    height: auto !important;
    display: flex !important;
    margin: 0 var(--spacing-sm) !important;
    margin: 0 var(--spacing-xs) !important;
    > div {
      display: flex;
      flex: 1;
    }
    .card,
    .card__inner {
      height: 100%;
    }
    .card {
      width: var(--gridder-4_4) !important;
      max-width: var(--gridder-4_4) !important;
      &--md {
        width: var(--gridder-4_4) !important;
        max-width: var(--gridder-4_4) !important;
      }
    }
  }

  @media all and (min-width: variables.$md) {
    overflow: hidden;
    .slick-list {
      padding: 0 var(--edge-w);
    }

    .slick-list {
      // margin: 0 calc(var(--spacing-gutter) * -0.5);
      .slick-slide {
        // padding: 0 calc(var(--spacing-gutter) * 0.5);
      }
    }

    .slick-slide .card {
      width: var(--gridder-3_12) !important;
      &--md {
        width: var(--gridder-6_12) !important;
      }
    }
  }
}
