.page-header {
  text-align: center;
  padding: var(--spacing-md) var(--spacing-lg) var(--spacing-lg);
}

figure {
  figcaption {
    text-align: right;
    padding: 0.4em 0 0;
    line-height: 1.1;
    .caption {
      font-style: italic;
    }
    .c-credits {
      opacity: 0.5;
    }
  }
}

input,
textarea {
  border-radius: 0;
  &::placeholder {
    color: black;
  }
}
