.page-header {
  text-align: center;
  padding: var(--spacing-md) var(--spacing-lg) var(--spacing-lg);
}

.grid--centered {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, var(--gridder-1_12));
  // grid-template-columns: repeat(auto-fill, var(--gridder-1_12));
  // grid-template-columns: repeat(auto-fit, var(--gridder-1_12));

  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: var(--spacing-gutter);
  flex-wrap: wrap;
  .card {
    flex-basis: var(--gridder-3_12);
    width: var(--gridder-3_12);
    flex-shrink: 0;
    height: auto;
    &--md {
      flex-basis: var(--gridder-6_12);
      width: var(--gridder-6_12);
    }
    // @media screen and (min-width: 1600px) {
    //   flex-basis: var(--gridder-2_12);
    //   width: var(--gridder-2_12);
    // }
  }
}
figure {
  figcaption {
    text-align: right;
    padding: 0.4em 0 0;
    line-height: 1.1;
    .caption {
      font-style: italic;
    }
    .c-credits {
      opacity: 0.5;
    }
  }
}

input,
textarea {
  border-radius: 0;
  &::placeholder {
    color: black;
  }
}

.fhcb-date {
  &.has-location {
    margin-bottom: 0.5em;
  }
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}
