@use "../variables";

button.btn,
a.btn,
.rhc-banner__content button,
.rhc-settings__content__footer button {
  border-radius: var(--radius-sm);
  padding: 0em 1em;
  height: 2.31em;
  line-height: 2.31em;
  font-size: var(--text-sm);
  font-weight: 450;
  background-color: var(--color-white);
  display: block;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  &:hover {
    background-color: transparent;
    // overflow: unset;
    &::before {
      opacity: 1;
    }
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: var(--border);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &--secondary {
    background-color: var(--color-white-0_5);
  }
  &--accent {
    background-color: var(--color-accent);
    color: var(--color-white);
    &:hover {
      background-color: transparent;
      color: var(--color-accent);
      &::before {
        border-color: var(--color-accent);
      }
    }
  }
}
a.btn-library,
a.btn-tickets,
button.btn--menu-toggle {
  background-color: var(--color-white);
  color: var(--color-secondary);
  font-size: var(--text-lg);
  // font-family: var(--font-primary);
  font-weight: 800;
  padding: 0em 0.6em;
  height: 1.7222222222em;
  line-height: 1.7222222222em;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    color: var(--color-accent);
    border: var(--border);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  // &:hover::before {
  //   opacity: 0.2;
  // }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   border-radius: inherit;
  //   background-color: var(--color-gris-100);
  //   opacity: 0;
  // }

  @media all and (max-width: variables.$md) {
    font-size: var(--text-xl);
  }
}
a.btn-tickets,
button.btn--menu-toggle {
  border-radius: 2.77em; /* = 50px (50 / 18 = 2.77) */
}

.btn--chip {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-white);
  flex-shrink: 0;
  &:hover,
  &.is-active {
    background-color: var(--color-accent);
  }
  &:empty {
    // display: none;
  }
}

.btn--cart-toggle {
  position: relative;
  &:hover .shade {
    // opacity: 0.2;
  }
  // .shade {
  //   position: absolute;
  //   inset: 0;
  //   border-radius: 50%;
  //   background-color: var(--color-gris-50);
  //   opacity: 0;
  // }
  .fill--white,
  .fill--accent {
    transition: fill 0.3s ease;
  }
  .btn--cart-toggle__count {
    transition: color 0.3s ease;
  }
  &:hover {
    // background-color: var(--color-white);
    .fill--white {
      fill: var(--color-accent);
    }
    .fill--accent {
      fill: var(--color-white);
    }
    .btn--cart-toggle__count {
      color: var(--color-accent);
    }
  }
  &__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -40%);
    color: white;
    font-size: 0.8em;
  }
}
