/**
Look 1 = size = sm
Look 2 = size = md
look 3 = size = md + grid  + footer
look 4 = size = lg + grid
look 5 = expo à la une (img prems sans fond perdu
*/
.card {
  border-radius: var(--radius);
  background-color: var(--color-white);

  overflow: clip;
  line-height: 1;

  .card__inner {
    display: flex;
    padding: var(--spacing-xs);
  }
  &--sm {
    .card__inner {
      flex-direction: column;
      gap: var(--spacing-xs);
      height: 100%;
      .card__media {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &.card--exhibition {
      .card__inner {
        display: flex;
      }
    }
  }
  &--md {
    .card__inner {
      flex-direction: column;
      gap: var(--spacing-xs);
      .card__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    &.card--is-portrait {
      .card__header {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        justify-content: space-between;
      }
    }
  }
  &--lg {
    .card__body {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &--md,
  &--lg {
    &.card--event,
    &.card--artist {
      .card__inner {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
      }
    }
  }
  &--is-current,
  &--is-futur {
    .card__inner {
      // padding: 0;
      display: block;
    }
    .card__body {
      // padding: var(--spacing-xs);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }
  }
  &--is-current {
    .card__inner {
      padding: 0;
    }
    .card__body {
      padding: var(--spacing-xs);
    }
  }
  &--is-futur {
    &--sm {
      background-color: red;
    }
  }

  &--product {
    background-color: var(--color-beige);
  }
  &--pret,
  &--exhibition {
    background-color: var(--color-bleu);
  }
  &--visites {
    background-color: var(--color-jaune);
  }
  &--event {
    background-color: var(--color-vert);
    &.card--visite-commentee {
      background-color: var(--color-jaune);
    }
  }

  &--artist {
    background-color: var(--color-rose-50);
  }
  &--image-images {
    .btn {
      background-color: var(--color-bg);
    }
  }
  &--feuilletage {
    background-color: var(--color-gris-100);
  }
  &--article,
  &--page {
    .btn {
      background-color: var(--color-gris-50);
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0rem;

    h2 {
      line-height: 1;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    .btns {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }
  }
  &__info {
    line-height: 1.4;
  }
  // &--l1a {
  //   /* 1 image centrée */
  //   .card__figure {
  //     flex: 2;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //   }
  // }
  // &--l1b {
  //   /* 1 or 2 images */
  //   figure {
  //     display: flex;
  //     flex-direction: column;
  //     gap: var(--spacing-xs);
  //   }
  // }
  // &--l1c {
  //   &:hover .card__footer .btns {
  //     display: flex;
  //   }
  //   .card__footer .btns {
  //     display: none;
  //   }
  // }
  // &--l2 {
  //   /* carte large */
  //   .card__figure {
  //     flex: 2;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //   }
  // }
  // &--l3 {
  //   /* carte large + grille (5/7) */
  //   &.card--is-landscape {
  //   }
  //   &.card--is-current {
  //     padding: 0;
  //     .card__header {
  //       padding: var(--spacing-xs);
  //     }
  //     .card__info {
  //       margin-bottom: var(--spacing-xs);
  //     }
  //   }
  //   .card__inner {
  //     display: flex;
  //     flex-direction: column;
  //     gap: var(--spacing-xs);
  //   }
  //   .card__header__figure {
  //     display: grid;
  //     grid-template-columns: repeat(12, minmax(0, 1fr));
  //     gap: var(--spacing-xs);
  //   }

  //   .card__header {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     height: 100%;
  //   }
  //   .card__figure {
  //     img {
  //       width: 100%;
  //     }
  //   }
  // }
  // &--l4 {
  //   /* carte large + grille (5/7)  */
  //   // display: flex;
  //   justify-content: space-between;
  //   flex-direction: row;
  //   .card__header__footer {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     gap: var(--spacing-xs);
  //   }
  //   .card__header__footer {
  //     // flex: 2;
  //   }
  //   .card__figure {
  //     img {
  //       // min-height: 34rem;
  //     }
  //   }
  // }

  // &--is-landscape {
  //   .card__header {
  //     grid-column: span 5;
  //   }
  //   .card__figure {
  //     grid-column: span 7;
  //   }
  // }
  // &--is-portrait {
  //   .card__header {
  //     grid-column: span 7;
  //   }
  //   .card__figure {
  //     grid-column: span 5;
  //   }
  // }
}
