@use "../variables";

body:has(header.is-up) .filters,
header.is-up ~ main .filters {
  top: unset;
  @media all and (min-width: variables.$md) {
    top: 0;
    // &::before {
    //   top: 0;
    //   opacity: 1;
    // }
  }
}
.filters {
  border-bottom: var(--border);
  margin-bottom: var(--spacing-lg);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  top: var(--header-h);
  background-color: var(--color-bg);
  z-index: 999;
  transition: top 0.2s;
  // &::before {
  //   content: "";
  //   z-index: -1;
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   top: var(--header-h);
  //   height: calc(2.375rem - var(--border-width));
  //   background-color: var(--color-bg);
  //   pointer-events: none;
  //   transition: top 0.2s;
  //   opacity: 0;
  // }
  .filters__controls {
    display: none;
  }
  @media all and (max-width: variables.$md) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
    padding: 0;
    border: none;
    border-top: var(--border);
    background-color: var(--color-bg);
    z-index: 51;
    margin: 0;

    .filters__inner {
      display: none;
      .reset {
        display: none;
      }
    }
    &:not(.is-open) .filters__controls {
      padding: 0;
      button {
        width: 100%;
        height: 100%;
        padding: var(--spacing-xs);
      }
    }
    .filters__controls {
      text-align: center;
      display: block;
      width: 100%;
      padding: var(--spacing-xs);
      background-color: var(--color-bg);
      display: flex;
      justify-content: center;
    }
    &.is-open {
      .filters__inner {
        display: block;
      }
      .filters__controls {
        justify-content: space-between;
      }
    }

    div.ui-filters {
      border-bottom: var(--border);
      background-color: var(--color-bg);
      overflow: hidden;
      &__summary {
        padding: var(--spacing-xs);
        display: flex;
        justify-content: space-between;
        & > label {
          text-transform: uppercase;
        }
        .filters__value {
          color: var(--color-accent);
          white-space: nowrap;
        }
      }

      select.ui-filter__select {
        padding-left: 1rem;
        background-position: left 0em center;
      }
      &.ui-filter__list.is-open {
        padding: 0;
        .ui-filters__summary {
          color: var(--color-accent);
        }
        .ui-filter__detail {
          position: initial;
          padding: 0;
        }
      }
    }
  }
  &.is-active {
    .reset {
      text-decoration: underline;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--spacing-sm);
  }

  label:hover {
    color: var(--color-secondary);
    svg {
      path {
        fill: var(--color-secondary);
      }
    }
  }
  .ui-filter__search {
    input:focus {
      outline: 1px solid var(--color-accent);
    }
    input::placeholder {
      color: var(--color-primary);
    }
  }
  select.ui-filter__select {
    appearance: none;
    -webkit-appearance: none;
    // padding-left: 1.5em;
    background-image: none;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.0625H1.2124L3.12939 6.96973L3.23096 6.94434C3.19287 6.65658 3.1696 6.2736 3.16113 5.79541L3.16113 0L4.23389 1.35151e-08L4.24023 5.79541C4.24023 6.22282 4.21696 6.60579 4.17041 6.94434L4.27832 6.96973L6.19531 4.0625H7.40137L3.88477 8.88672H3.5166L0 4.0625Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    // background-position: left 0.5em center;
    padding-left: 1rem;
    background-position: left 0em center;

    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: var(--color-secondary);
      background-image: url("data:image/svg+xml,%3Csvg width=%228%22 height=%229%22 viewBox=%220 0 8 9%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22M0 4.0625H1.2124L3.12939 6.96973L3.23096 6.94434C3.19287 6.65658 3.1696 6.2736 3.16113 5.79541L3.16113 0L4.23389 1.35151e-08L4.24023 5.79541C4.24023 6.22282 4.21696 6.60579 4.17041 6.94434L4.27832 6.96973L6.19531 4.0625H7.40137L3.88477 8.88672H3.5166L0 4.0625Z%22 fill=%22%23ff5524%22/%3E%3C/svg%3E");
    }
  }
  .ui-filter__checkbox,
  .ui-filter__toggle {
    display: flex;
    gap: 8px;
    label {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .ui-filter__radio {
    display: flex;
    gap: 8px;
    label {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      user-select: none;
      text-transform: uppercase;
    }
    input {
    }
  }
  .ui-filter__list {
    transition: padding-bottom 0.3s ease;
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      // text-transform: uppercase;

      svg {
        transition: transform 0.2s;
      }
    }
    &.is-open {
      padding-bottom: var(--detail-h, 17rem);
      label svg {
        transform: rotate(180deg);
      }
      .ui-filters__summary {
        color: var(--color-accent);
        path {
          fill: var(--color-accent);
        }
      }
      .ui-filter__detail {
        // display: block;
        opacity: 1;
        pointer-events: all;
      }
    }
    &.ui-filter__list-tag,
    &.ui-filter__list-tagProduct,
    &.ui-filter__list-language {
      .ui-filter__list-alpha {
        display: none;
      }
    }
    .ui-filter__detail {
      // display: none;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.15s;
      position: absolute;
      padding-top: 1rem;
      left: 0;
      right: 0;
      background-color: var(--color-bg);
      // left: var(--spacing-lg);
      // right: var(--spacing-lg);
      // max-width: 86rem;
      // margin: 0 auto;
    }
    &-alpha {
      display: flex;
      gap: var(--spacing-xs);
      margin-bottom: 1rem;
      max-width: 100%;
      overflow-x: auto;
      &-btn {
        // @extend .btn--chip;
      }
    }

    &-items {
      max-height: 13rem;
      overflow: auto;
      scrollbar-track-color: var(--color-bg);
      scrollbar-face-color: red;
      // scrollbar-width: none; /* Firefox */
      // -ms-overflow-style: none; /* IE et ancien Edge */
      @media all and (max-width: variables.$md) {
        padding-bottom: var(--spacing-sm);
      }
      // &::-webkit-scrollbar {
      //   display: none; /* Chrome, Safari, Opera */
      // }
      // .ui-filter__checkbox {
      //   transition: padding-left 0.2s ease;
      //   position: relative;
      //   &:hover,
      //   &:has(input:checked) {
      //     @media all and (min-width: variables.$md) {
      //       padding-left: 1.5rem;
      //       input {
      //         opacity: 1;
      //       }
      //     }
      //   }
      //   &:has(input:checked) {
      //     color: var(--color-secondary);
      //   }
      //   input {
      //     @media all and (min-width: variables.$md) {
      //       position: absolute;
      //       left: 0;
      //       opacity: 0;
      //       transition: opacity 0.2s ease;
      //     }
      //   }
      // }
    }
    &-item {
      display: flex;
      gap: 8px;
    }
  }
  .ui-filter__toggle {
  }
}

.ui-filter__checkbox {
  transition: padding-left 0.2s ease;
  position: relative;

  input {
    @media all and (min-width: variables.$md) {
      position: absolute;
      left: 0;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  &:hover,
  &:has(input:checked),
  &-checked {
    color: var(--color-secondary);
    input {
      background-color: var(--color-secondary);
    }
    @media all and (min-width: variables.$md) {
      padding-left: 1.5rem;
      input {
        opacity: 1 !important;
      }
    }
  }
  &:has(input:checked) {
    color: var(--color-secondary);
  }
}
