.filters {
  border-bottom: var(--border);
  margin-bottom: var(--spacing-lg);
  padding-bottom: 0.5rem;
  &.is-active {
    .reset {
      text-decoration: underline;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--spacing-sm);
  }

  label:hover {
    color: var(--color-secondary);
    svg {
      path {
        fill: var(--color-secondary);
      }
    }
  }
  .ui-filters__search {
    input:focus {
      outline: 1px solid var(--color-accent);
    }
    input::placeholder {
      color: var(--color-primary);
    }
  }
  .ui-filters__select {
    appearance: none;
    -webkit-appearance: none;
    padding-left: 1.5em;
    background-image: none;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.0625H1.2124L3.12939 6.96973L3.23096 6.94434C3.19287 6.65658 3.1696 6.2736 3.16113 5.79541L3.16113 0L4.23389 1.35151e-08L4.24023 5.79541C4.24023 6.22282 4.21696 6.60579 4.17041 6.94434L4.27832 6.96973L6.19531 4.0625H7.40137L3.88477 8.88672H3.5166L0 4.0625Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 0.5em center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: var(--color-secondary);
      background-image: url("data:image/svg+xml,%3Csvg width=%228%22 height=%229%22 viewBox=%220 0 8 9%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22M0 4.0625H1.2124L3.12939 6.96973L3.23096 6.94434C3.19287 6.65658 3.1696 6.2736 3.16113 5.79541L3.16113 0L4.23389 1.35151e-08L4.24023 5.79541C4.24023 6.22282 4.21696 6.60579 4.17041 6.94434L4.27832 6.96973L6.19531 4.0625H7.40137L3.88477 8.88672H3.5166L0 4.0625Z%22 fill=%22%23ff5524%22/%3E%3C/svg%3E");
    }
  }
  .ui-filters__checkbox {
    display: flex;
    gap: 8px;
    label {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      user-select: none;
      text-transform: uppercase;
    }
    input {
    }
  }
  .ui-filters__radio {
    display: flex;
    gap: 8px;
    label {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      user-select: none;
      text-transform: uppercase;
    }
    input {
    }
  }
  .ui-filter__list {
    transition: padding-bottom 0.3s ease;
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-transform: uppercase;

      svg {
        transition: transform 0.2s;
      }
    }
    &.is-open {
      padding-bottom: 17rem;
      label svg {
        transform: rotate(180deg);
      }
      .ui-filter__detail {
        display: block;
      }
    }
    .ui-filter__detail {
      display: none;
      position: absolute;
      padding-top: 1rem;
      left: 0;
      right: 0;
      // left: var(--spacing-lg);
      // right: var(--spacing-lg);
      // max-width: 86rem;
      // margin: 0 auto;
    }
    &-alpha {
      display: flex;
      gap: var(--spacing-xs);
      margin-bottom: 1rem;
      &-btn {
        // @extend .btn--chip;
      }
    }

    &-items {
      height: 13rem;
      overflow: auto;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE et ancien Edge */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }
      .ui-filters__checkbox {
        transition: padding-left 0.2s ease;
        position: relative;
        &:hover,
        &:has(input:checked) {
          padding-left: 1.5rem;
          input {
            opacity: 1;
          }
        }
        &:has(input:checked) {
          color: var(--color-secondary);
        }
        input {
          position: absolute;
          left: 0;
          opacity: 0;
          transition: opacity 0.2s ease;
        }
      }
    }
    &-item {
      display: flex;
      gap: 8px;
    }
  }
}
