.rebonds {
  padding-top: var(--spacing-xl);

  h2.c-h1_5 {
    text-align: center;
    margin-bottom: var(--spacing-lg);
  }

  .card--md-alt {
    flex-basis: var(--gridder-1_3);
    width: var(--gridder-1_3);
  }
  &--branche {
    padding: var(--spacing-md) 0;
    background-color: var(--color-coquille);
  }
}
