.rebonds {
  padding-top: var(--spacing-xl);
  & > div > .grid {
    // grid-template-columns: repeat(auto-fit, var(--gridder-1_12));
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
  }
  h2.c-h1_5 {
    text-align: center;
    margin-bottom: var(--spacing-lg);
  }

  &--branche {
    padding: var(--spacing-md) 0;
    background-color: var(--color-coquille);
  }
}
