@use "variables";

body {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: var(--text-base);
  line-height: 1.4;
  font-weight: 400;
  // line-height: 1.2;
  // letter-spacing: 0.02rem;
  // text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  // font-size: 14px;
}
@media all and (min-width: 1080px) {
  html {
    font-size: 16px;
  }
}
@media all and (min-width: 1920px) {
  html {
    // font-size: 1vw;
  }
}

a,
a[aria-current="page"] {
  text-decoration: none;
  &:hover,
  &.is-active,
  &.is-current-page {
    color: var(--color-hover);
  }
}
button {
  cursor: pointer;
}

/* Text elements */
p,
.text p {
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
  &:empty {
    // display: none;
  }
  a {
    // text-decoration: underline;
    // text-decoration-thickness: 0.04em;
    // text-underline-offset: 0.15em;
    background: linear-gradient(currentColor 0 0) left bottom / 100% 0.08em
      no-repeat;

    transition:
      background-size 0.25s ease,
      background-position 0s 0.25s;

    &:hover {
      background-size: 0% 0.08em;

      background-position: left bottom;
    }

    &:not(:hover) {
      background-position: right bottom;

      background-size: 100% 0.08em;
    }
    // background: linear-gradient(currentColor 0 0) bottom left/
    //   var(--underline-width, 0%) 0.1em no-repeat;
    // color: var(--color-primary);
    // display: inline-block;
    // // padding: 0 0.5em 0.2em;
    // text-decoration: none;
    // transition: background-size 0.5s;
    // &:hover {
    //   --underline-width: 100%;
    // }
  }
  br {
    // display: none;
  }
}
.text {
  font-size: var(--text-xl);
  &:has(.c-chapo) {
    max-width: 60rem;
    margin: 0 auto;
  }
  max-width: 41rem;
  margin: 0 auto;

  p {
    // max-width: 41rem;
    // margin: 0 auto;
    &.c-chapo {
      // max-width: 60rem;
      // margin: 0 auto;
    }
  }
  .blockquote {
    margin-bottom: 1em;
  }
  .embed {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    iframe {
      width: 41rem;
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media all and (max-width: variables.$md) {
  .text {
    font-size: var(--text-sm-xl);
  }
}

@layer components {
  /* =====================
     HEADINGS
  ===================== */
  .c-h1 {
    /* 80px */
    font-size: var(--text-7xl);
    line-height: var(--leading-7xl);
    font-weight: 800;
  }

  .c-h1-lg {
    /* 95px */
    font-size: var(--text-8xl);
    line-height: var(--leading-7xl);
    font-weight: 800;
  }

  .c-h1_5,
  .c-h1-alt {
    /* 70px */
    font-size: var(--text-6xl);
    font-weight: 800;
    line-height: 1;
  }

  .c-h2 {
    /* 40px */
    font-size: var(--text-5xl);
    font-weight: 800;
    line-height: 1;
  }

  .c-h3 {
    /* 17px */
    font-size: var(--text-md);
    line-height: var(--leading-2xl);
    font-weight: 200;
  }

  .c-h4 {
    /* 17px */
    font-size: var(--text-md);
    line-height: var(--leading-2xl);
  }

  /* =====================
     BODY / EDITORIAL
  ===================== */
  .c-chapo {
    /* 25px */
    font-size: var(--text-3xl);
    line-height: var(--leading-5xl);
    font-weight: 200;
    &--i {
      font-style: italic;
    }
  }

  .c-quote {
    /* 38px */
    font-size: var(--text-4xl);
    line-height: var(--leading-6xl);
    font-weight: 200;
  }

  .c-body {
    /* 20px */
    font-size: var(--text-xl);
    line-height: var(--leading-3xl);
  }

  .c-body-sm {
    /* 18px */
    font-size: var(--text-lg);
    line-height: var(--leading-xl);
  }

  .c-body-xs {
    /* 15px */
    font-size: var(--text-base);
    line-height: var(--leading-sm);
  }
  .c-body--tight {
    font-weight: 300;
  }

  /* =====================
     UI
  ===================== */
  .c-btn {
    /* 13px */
    font-size: var(--text-sm);
    line-height: var(--leading-md);
    font-weight: 450;
  }

  .c-filter {
    /* 13px */
    font-size: var(--text-sm);
    line-height: var(--leading-md);
  }

  .c-tag {
    /* 11px */
    font-size: var(--text-2xs);
    line-height: var(--leading-lg);
    text-decoration: underline;
    text-decoration-thickness: 0.04em;
    text-underline-offset: 0.15em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5%;
  }

  /* =====================
     MÉDIA / LÉGENDES
  ===================== */
  .c-caption {
    /* 12px */
    font-size: var(--text-xs);
    line-height: var(--leading-xs);
  }

  .c-credits {
    /* 11px */
    font-size: var(--text-2xs);
    line-height: var(--leading-xs);
  }

  /* =====================
     CARDS / PAGES SPÉCIFIQUES
  ===================== */
  .c-card-title {
    /* 21px */
    font-size: var(--text-2xl);
    line-height: var(--leading-2xl);
  }

  .c-title-expo {
    /* 25px */
    font-size: var(--text-3xl);
    line-height: var(--leading-4xl);
    font-weight: 200;
    font-style: italic;
  }

  /* =====================
     MOBILE OVERRIDES
  ===================== */
  @media all and (max-width: variables.$md) {
    .c-h1-lg {
      /* 80px */
      font-size: var(--text-sm-8xl);
      line-height: 4.375rem; /* 70px */
    }

    .c-h1_5,
    .c-h1-alt {
      /* 60px */
      font-size: var(--text-sm-6xl);
      line-height: 3.4375rem; /* 55px */
    }

    .c-h2 {
      /* 38px */
      font-size: var(--text-sm-5xl);
    }

    .c-h3 {
      /* 18px */
      font-size: var(--text-sm-md);
      line-height: var(--leading-sm-2xl);
    }

    .c-chapo {
      /* 18px */
      font-size: var(--text-sm-3xl);
      line-height: var(--leading-sm-5xl);
    }

    .c-quote {
      /* 26px */
      font-size: var(--text-sm-4xl);
      line-height: var(--leading-sm-6xl);
    }

    .c-body {
      /* 18.5px */
      font-size: var(--text-sm-xl);
      line-height: var(--leading-sm-3xl);
    }

    .c-btn {
      /* 14px, attention hauteur du bouton à 40 */
      font-size: var(--text-sm-sm);
      line-height: var(--leading-sm-md);
    }

    .c-filter {
      /* 15px */
      font-size: var(--text-base);
    }
  }
}
