.template--exhibition {
  .exhibition-hero {
    margin-bottom: var(--spacing-lg);
    padding-bottom: var(--spacing-md);
    &__is-past {
      background-color: red;
    }
    .hero__header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bottom {
        .btn {
          width: auto;
          display: inline-block;
        }
      }
    }

    figure {
      img {
        max-height: calc(
          var(--vh) * 100 - calc(var(--header-h) + var(--spacing-md))
        );
        width: 100%;
        object-fit: contain;
        object-position: left;
      }
      figcaption {
        text-align: left;
      }
    }
  }
}
