@use "../variables";

.template--product {
  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .slider {
    background-color: var(--color-beige);
    border-radius: var(--radius);
    // padding: var(--spacing-md) 0;
    .slick-slider-container .slick-slider {
      padding: 0;
      .slick-list {
        padding: 0 !important;
      }
    }
    .slick-slide {
      width: 100%;
    }
    .product-slider__slide {
      padding: var(--spacing-md);
      width: 100%;
      min-height: calc(var(--main-h) - var(--spacing-lg)) !important;
      figure div {
        overflow: unset !important;
      }
      img {
        // max-height: var(--main-h);
        height: calc(var(--main-h) - var(--spacing-lg)) !important;
        object-fit: contain;
      }
    }
  }

  @media all and (max-width: variables.$md) {
    .header {
      order: 2;
    }
    .slider {
      order: 1;
    }
  }
}
