.bandeau-contextuel {
  position: fixed;
  left: 0;
  right: 0;
  padding: var(--spacing-md) 0;
  padding-top: var(--header-h);
  // background-color: var(--color-taupe);
  background-color: var(--color-coquille);
  z-index: 49;
  text-align: center;
  transition:
    background-color 0.2s var(--cubic),
    transform 0.2s var(--cubic),
    opacity 0.2s var(--cubic);
  .inner {
    max-width: 52rem;
    margin: 0 auto;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .btn {
      width: auto;
      display: inline-block;
    }
    button.underline {
    }
  }
  .container-fluid {
    position: relative;
  }
  .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    line {
      stroke: var(--color-primary);
    }
  }
}

header.is-up + .bandeau-contextuel,
body.scrolled .bandeau-contextuel {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}
