.cart-modal {
  position: fixed;
  inset: 0;
  top: var(--header-h);
  right: var(--spacing-xs);
  bottom: var(--spacing-xs);
  z-index: 1100;
  // visibility: hidden;
  pointer-events: none;

  &.is-open {
    // visibility: visible;
    pointer-events: auto;

    .cart-modal__overlay {
      opacity: 1;
    }
    .cart-modal__inner {
      transform: translateX(0);
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: min(420px, 100%);
    background-color: var(--color-beige);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
  }

  &__header {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__close {
    font-size: 1.5rem;
    line-height: 1;
  }

  &__empty {
    margin: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    flex: 1;
  }

  &__item {
    display: flex;
    // align-items: center;
    gap: var(--spacing-xs);
    border-bottom: var(--border);
    padding-bottom: var(--spacing-xs);
    &__header {
    }
    &__footer {
      gap: var(--spacing-xs);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__image {
    flex-shrink: 0;
    img {
      display: block;
      object-fit: cover;
      // border-radius: var(--radius-sm);
    }
  }

  &__infos {
    flex: 2;
  }

  &__qty {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-xs);
    // margin-top: 0.5rem;
    border: var(--border);
    border-radius: 1.125rem;
    // display: inline-block;
    text-decoration: none;

    button {
      width: 1.125rem;
      height: 1.125rem;
      // border-radius: 50%;
      // background-color: var(--color-white-0_5);
    }
  }

  &__remove {
    font-size: 1.25rem;
    line-height: 1;
    align-self: flex-start;
  }

  &__footer {
    margin-top: 1.5rem;
    padding-top: var(--spacing-xs);
    border-top: var(--border);
    display: flex;
    // // justify-content: flex-end;
    gap: var(--spacing-lg);
    flex-direction: column;
    // align-items: flex-end;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-xs);
    font-weight: 450;
  }
}
