@use "../../variables";

.sidebar {
  h3 {
    text-transform: uppercase;
  }
  &__item {
    border-bottom: var(--border);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    li {
      margin-bottom: 1rem;
      &:last-child {
        margin: 0;
      }
      div.c-body--tight {
        white-space: pre-line;
      }
    }
  }
  &__partenaires {
  }
  figure {
    margin-top: 1rem;
    max-width: 10rem;
    max-width: 3rem;
  }

  @media all and (max-width: variables.$md) {
    &__item {
      padding-bottom: var(--spacing-2xs);
      margin-bottom: var(--spacing-2xs);
    }
  }
}
