@use "../../variables";

.sidebar {
  h3 {
    text-transform: uppercase;
  }
  &__item {
    border-bottom: var(--border);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  figure {
    margin-top: 1rem;
    max-width: 10rem;
  }

  @media all and (max-width: variables.$md) {
    &__item {
      padding-bottom: var(--spacing-2xs);
      margin-bottom: var(--spacing-2xs);
    }
  }
}
