.searchForm {
  position: relative;
  z-index: 0;
  font-size: var(--text-sm);
  :global(.inner) {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    justify-content: space-between;
  }
  :global(input) {
    /* flex: 2; */
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: white;
    }
  }
  :global(button.btn) {
    color: var(--color-primary);
    /* flex: 0; */
  }
}
.toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transform: translateY(0.2em);
  svg {
    width: 24px;
    height: 20px;
    path {
      fill: none;
    }
  }
}
.modal {
  position: fixed;
  inset: 0;
  background-color: var(--color-secondary);
  padding: var(--spacing-lg);
  padding-top: var(--header-h);
  color: white;
  z-index: 0;
}
.searchResults {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
  :global(.card),
  :global(.card .btn) {
    color: var(--color-primary);
  }
}

.mostSearched {
  margin-top: var(--spacing-lg);
  h2 {
    /* font-weight: 500; */
    line-height: 1.3333;
  }
  ul {
    font-size: var(--text-md);
    font-weight: 200;
  }
}
